<div class="p-index_list">
  <% if @memos.empty? %>
    <p>まだメモが登録がされていません。</p>
  <% else %>
    <% @memos.each do |memo| %>
      <div class="p-index_listItem">
        <a class="p-index_listItem_link" href="/memos/<%= memo['id'] %>"><%= h(memo['title']) %></a>
      </div>
    <% end %>
  <% end %>
</div>

