<form action="/" method="POST" class="form-container">
  <div class="col">
    <label class="form-label">タイトル</label>
    <input type="text" class="form-control" placeholder="午後3時に友達と新宿駅東口で待ち合わせ">
  </div>
  <div class="col">
    <label class="form-label">本文</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
</form>