<div class="container">
  <h1>メモタイトル</h1>
  <p>ああああああああああああああ</p>
  <div class="btn-list d-flex align-center justify-between">
    <button class="btn btn-edit hover-opacity">変更</button>
    <button class="btn btn-delete hover-opacity">削除</button>
  </div>
</div>