html {
  height: 100%;
}
body{
	font-size: 1rem;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif;
	color: #000;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* common */
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.hover-opacity:hover {
  opacity: .5;
}
.btn {
  font-size: .875rem;
  padding: .5rem .75rem;
  border-radius: 3px;
}
/* ****** */
.p-memo-app__container_fluid {
  max-width: 400px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 6px;
}
.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  column-gap: 10rem;
}
.l-header p {
  font-size: 1.5rem;
}
.l-header button {
  border: #555 solid 1px;
}
/* new */
.form-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
label {
  display: inline-block;
}
.form-label {
  margin-bottom: .5rem;
  font-size: .75rem;
  color: #999;
}
.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: .25rem;
}
/* show */
.container h1 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
.btn-list {
  margin-top: 2rem;
}
.container .btn-edit{
  background-color: #ddd;
}
.container .btn-delete{
  background-color: #c6303e;
  color: #fff;
}